/* @type */

.layout-header,
.layout-header-placement {
  height: var(--lemon-header-height);
}

.layout-header {
  z-index: var(--lemon-header-z-index);
}

.layout-tab {
  top: var(--lemon-header-height);
  height: var(--lemon-tab-height);
  z-index: var(--lemon-tab-z-index);
}

.layout-tab-placement {
  height: var(--lemon-tab-height);
}

.layout-sidebar {
  width: var(--lemon-sidebar-width);
  z-index: var(--lemon-sidebar-z-index);
}

.layout-mobile-sidebar {
  z-index: var(--lemon-sidebar-z-index);
}

.layout-mobile-sidebar-mask {
  z-index: var(--lemon-mobile-sidebar-z-index);
}

.layout-sidebar_collapsed {
  width: var(--lemon-sidebar-collapsed-width);
  z-index: var(--lemon-sidebar-z-index);
}

.layout-footer,
.layout-footer-placement {
  height: var(--lemon-footer-height);
}

.layout-footer {
  z-index: var(--lemon-footer-z-index);
}

.left-gap {
  padding-left: var(--lemon-sidebar-width);
}

.left-gap_collapsed {
  padding-left: var(--lemon-sidebar-collapsed-width);
}

.sidebar-padding-top {
  padding-top: var(--lemon-header-height);
}

.sidebar-padding-bottom {
  padding-bottom: var(--lemon-footer-height);
}
